@page "/Aditivos"
@inject HttpClient client

<PageTitle>Aditivos | Murky Shop</PageTitle>

<link rel="stylesheet" href="css/warcraft.css" />
<link rel="stylesheet" href="css/UsualButon.css" />

<body>
    <br>
    <br>
    <br>
    <br>
    @if (Alladitivo == null || aditivos == null)
    {
        <h5>No hay aditivos disponibles</h5>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                </div>
                <div class="col-md-auto">
                    <img src="/Images/torty.png" style="width: 300px; height: auto;" alt="">
                </div>
                <div class="col col-lg-2">
                </div>
            </div>
        </div>
    }
    else
    {
        @foreach (var (aditivo, product) in Alladitivo.Zip(aditivos, (p, pr) => (p, pr)))
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                    </div>

                    <div class="col-4">
                        <img src="@aditivo.ImageURL" style="float: left;
                                 width: 250px;
                                 height: auto;" alt="" class="img-thumbnail">
                    </div>

                    <div class="col-5 text-center" style="font-size:40px; place-items: center;">

                        <h1 style="font-size:50px">@aditivo.Nombre</h1>
                        <br>
                        <h1>@aditivo.Tipo</h1>
                        <br>
                        <h1>@aditivo.Descripcion</h1>
                        <br>
                        <h1>Precio por unidad: $@aditivo.Precio</h1>
                        <br>
                        <button class="boton-usual" type="submit" onclick="redirec(@product.Id)" style="font-size:35px">Comprar</button>
                    </div>

                    <div class="col">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        }
    }
    <br>
    <br>
    <br>
    <h1 style="font-size:18px">Esta pagina fue creada con fines academicos sin fines de lucro; el nombre, asi como el arte en las imagenes son propiedad de Blizzard Entertainment, Inc.</h1>
</body>

<script>
    function redirec(productId) {
        window.location.href = `/ProductDetails/${productId}`;
    }
</script>

@code {
    List<Aditivo> Alladitivo = new List<Aditivo>();
    List<Aditivo> aditivos = new List<Aditivo>();

    [Inject]
    public IShoppingCartService ShoppingCartService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Alladitivo = await client.GetFromJsonAsync<List<Aditivo>>("api/Aditivos");

        var allProducts = await client.GetFromJsonAsync<List<ProductDto>>("api/Catalogos");

        aditivos = allProducts.Where(p => p.CategoryId == 4).Select(p => new Aditivo
            {
                Id = p.Id,
            }).ToList();


        var shoppingCartItems = await ShoppingCartService.GetItems(HardCoded.UserId);
        var totalQty = shoppingCartItems.Sum(i => i.Qty);

        ShoppingCartService.RaiseEventOnShoppingCartChanged(totalQty);
    }
}