@* @page "/Peces"
@inherits PecesBase
@inject HttpClient client

<PageTitle>Peces | Murky Shop</PageTitle>

<link rel="stylesheet" href="css/warcraft.css" />
<link rel="stylesheet" href="css/UsualButon.css" />

<header style="font-size:60px">
    <div class="row" style="font-size:60px">
        <div class="col text-center">
            ¡Te damos la bienvenida al abismo!
        </div>
    </div>
    <div class="row">
        <img src="/Images/Azshara.jpg" class="rounded img-fluid" alt="">
    </div>
</header>

<body>
    <br>
    <br>
    <br>
    <br>
    @if (peces == null)
    {
        <h3>Loading products...</h3>
    }
    else
    {
        var productCount = peces.Count();

        @if (productCount > 0)
        {
            @foreach (var item in peces)
            {
                <div class="container">
                    <div class="row">
                        <div class="col">
                        </div>

                        <div class="col-4">
                            <img src="@item.ImageURL" style="float: left;
                                 width: 250px;
                                 height: auto;" alt="">
                        </div>

                        <div class="col-5 text-center" style="font-size:40px; place-items: center;">

                            <h1 style="font-size:50px">@item.Nombre</h1>
                            <br>
                            <h1>@item.Descripcion</h1>
                            <br>
                            <h1>Agua: item.Agua</h1>
                            <br>
                            <h1>pH: item.pH</h1>
                            <br>
                            <h1>Temperatura: item.Temperatura</h1>
                            <br>
                            <h1>Precio por unidad: $item.Precio</h1>
                            <br>
                            <button class="boton-usual" type="submit">Agregar al carrito</button>
                        </div>

                        <div class="col">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            }
        }
    }
    }
    }
</body>

@code {
    List<Pez> peces = new List<Pez>();

    protected override async Task OnInitializedAsync()
    {
        peces = await client.GetFromJsonAsync<List<Pez>>("api/Peces");
    }
}
 *@
@page "/Peces"
@inherits PecesBase
@inject HttpClient client 

<PageTitle>Peces | Murky Shop</PageTitle>

<link rel="stylesheet" href="css/warcraft.css" />
<link rel="stylesheet" href="css/UsualButon.css" />

<style>
    body {
        background: url('/Images/Azshara.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<body>
    <br>
    <br>
    <br>
    <br>
    @if(Products == null || peces == null)
    {
        <h3>Loading products...</h3>
    }
    else
    {
        var productCount = Products.Count();

        @if(productCount > 0)
        {
            @foreach (var pez in peces)//(pez, product) in peces.Zip(Products, (p, pr) => (p, pr)))
            {
                <div class="container">
                    <div class="row">
                        <div class="col">
                        </div>

                        <div class="col-4">
                            <img src="@pez.ImageURL" style="float: left;
                                 width: 250px;
                                 height: auto;" alt="">
                        </div>

                        <div class="col-5 text-center" style="font-size:40px; place-items: center;">

                            <h1 style="font-size:50px">@pez.Nombre</h1>
                            <br>
                            <h1>@pez.Descripcion</h1>
                            <br>
                            <h1>Agua: @pez.Agua</h1>
                            <br>
                            <h1>pH: @pez.pH</h1>
                            <br>
                            <h1>Temperatura: @pez.Temperatura</h1>
                            <br>
                            <h1>Precio por unidad: $@pez.Precio</h1>
                            <br>
                            <button class="boton-usual" type="submit">Agregar al carrito</button>
                        </div>

                        <div class="col">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            }
        }
    }
</body>

@code {
    List<Pez> peces = new List<Pez>();
    List<ProductDto> Products { get; set; }

    // ... (otras declaraciones y métodos)

    protected override async Task OnInitializedAsync()
    {
        // Obtener peces desde PecesController
        peces = await client.GetFromJsonAsync<List<Pez>>("api/Peces");

        // Obtener productos desde CatalogosController
        Products = await client.GetFromJsonAsync<List<ProductDto>>("api/Catalogos");
    }
}

